<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Demande Accès Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" /> <!-- Demande Accès Tache en Foreground -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Acces positions Requis pour detecter appareils Bluetooth a proximité -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WalkySocial"
        tools:targetApi="33">
        <activity
            android:name=".Activities.Fight"
            android:exported="true">
            <!-- Définir une Intent Filter pour votre activité -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Définir le schéma et l'hôte pour votre lien dynamique -->
                <data
                    android:scheme="https"
                    android:host="walkysocial.page.link" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Profil"
            android:exported="false" />
        <activity
            android:name=".Activities.Shop"
            android:exported="false" />
        <activity
            android:name=".Activities.Connexion"
            android:exported="false" />
        <activity
            android:name=".Activities.History"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Inscription"
            android:exported="false"
            android:label="@string/title_activity_inscription"
            android:theme="@style/Theme.WalkySocial.NoActionBar" />

        <service
            android:name=".Services.GPSService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBAXGp8c7wjvKD6KI2Jz5qq0GcOYov8k00" />
    </application>

</manifest>